<div class="row md-3">
    <div class="col text-center">
        <img src="img/samuel.jpg" alt="Samuel" class="img-thumbnail rounded-circle" width="200px">
        <h1>Samuel William Noah</h1>
        <h3>Git Hub: samuel-noah</h3>

    </div>

</div>