<h1>Let's Talk to An AI</h1>
    <form action="/search" method="GET" class = 'd-flex'>   
        <input type="text" 
        class="form-control me-2 mt-3" id="floatingInput" 
        placeholder="input some text" 
        name="talk" 
        autocapitalize="off">

        <button type="submit" class="btn btn-primary">Talk</button>
    </form>