<div class="row md-3">
    <div class="col text-center">
        <h1>Simple Open AI API Project </h1>
        <h3>Created using OPEN AI API and Node Js</h3>
        <img src="img/openai.png" alt="Open Weather" class="img-thumbnail rounded-circle" width="200px">
        
    </div>
</div>