
<div class="container mt-3">
    <h1>Talk to An AI</h1>
    <p style="font-size:30px">&#128512;</p>  
        <form action="/search" method="GET" class = 'd-flex' autocomplete="off">
            <input type="text"
            class="form-control" id="floatingInput" 
            placeholder="input some text" 
            name="talk" >
            <button type="submit" class="btn btn-primary">Talk</button>
        </form>
        <div class="mb-3 mt-5">
            <p style="font-size:30px">&#129302;</p> 
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"><%= completion %> </textarea>
        </div>
</div>